<configuration>
    <dllmap dll="avcodec-51.dll">
    	<dllentry os="linux" dll="libavcodec.so.1d" />
    	<dllentry os="windows" dll="avcodec-51.dll" />
    	<dllentry os="osx" dll="libavcodec.so.1d" />
    </dllmap>
    <dllmap dll="avformat-51.dll">
    	<dllentry os="linux" dll="libavformat.so.1d" />
    	<dllentry os="windows" dll="avformat-51.dll" />
    	<dllentry os="osx" dll="libavformat.so.1d" />
    </dllmap>
    <dllmap dll="avutil-49.dll">
    	<dllentry os="linux" dll="libavutil.so.1d" />
    	<dllentry os="windows" dll="avutil-49.dll" />
    	<dllentry os="osx" dll="libavutil.so.1d" />
    </dllmap>
</configuration>
