<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Plugins" type="Axiom.PluginConfigurationSectionHandler,Axiom"/>
  </configSections>

  <!--
  <Plugins>
    <plugin type="/Axiom/Plugins/PlatformManager" />
    <plugin type="/Axiom/Plugins/DirectX" />
    <plugin type="/Axiom/Plugins/ParticleFX" />
    <plugin type="/Axiom/Plugins/CgProgramManager" />
  </Plugins> 
  -->
</configuration>