// YAT - Yet Another Tetris clone
// Copyright (C) 2004  Christian Larsen (feedback@dword.dk)
//
// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; either version 2
// of the License, or (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.

#include <overlay_templates.inc>

/////////////////////
// Game/Statistics //
/////////////////////

Game/Statistics
{
	zorder 100

	container Panel(Game/TopLeftPanel)
	{
		left 0.00977
		top 0.01302
		
		element TextArea(Statistics/Points): GeneralTextTemplate
		{
			top 0.0
			caption Points: 0
		}

		element TextArea(Statistics/Lines): GeneralTextTemplate
		{
			top 0.04167
			caption Lines: 0
		}
	}
	
	container Panel(Game/TopRightPanel)
	{
		left -0.18359
		top 0.01302
		horz_align right
		
		element TextArea(Statistics/Level): GeneralTextTemplate
		{
			top 0.0
			caption Level: 1
		}

		element TextArea(Statistics/NextPiece): GeneralTextTemplate
		{
			top 0.04167
			caption Next:
		}
	}
	
	container Panel(Game/LogoPanel)
	{
		left -0.25
		top -0.16667
		width 0.25
		height 0.16667
		horz_align right
		vert_align bottom
		material Game/GameLogo
	}
}
