<?xml version="1.0"?>
<configuration>
	<!-- Custom section definition for explicitly defining plugins to load. -->
	<configSections>
		<section name="plugins" type="Axiom.Core.PluginConfigurationSectionHandler, Axiom.Root"/>
		<section name="PlatformManager" type="Axiom.Core.PlatformConfigurationSectionHandler, Axiom.Root"/>
	</configSections>
	<!-- These are the plugins we want to load.  Unwanted plugins can simply be commented out. -->
	<plugins>
		<plugin class="Axiom.RenderSystems.DirectX9.D3D9RenderSystem" assembly="Axiom.RenderSystems.DirectX9.dll"/>
		<!-- plugin class="Axiom.RenderSystems.OpenGL.GLRenderSystem" assembly="Axiom.RenderSystems.OpenGL.dll"/ -->
		<plugin class="Axiom.Gui.Elements.GuiElements" assembly="Axiom.Gui.Elements.dll"/>
		<plugin class="Axiom.CgPrograms.CgPlugin" assembly="Axiom.CgPrograms.dll"/>
		<plugin class="Axiom.ParticleFX.ParticleFX" assembly="Axiom.ParticleFX.dll"/>
		<plugin class="Axiom.Dynamics.ODE.OdeDynamics" assembly="Axiom.Dynamics.ODE.dll"/>
		<plugin class="Axiom.SceneManagers.Octree.OctreePlugin" assembly="Axiom.SceneManagers.Octree.dll"/>
	</plugins>
	<PlatformManager class="Axiom.Platforms.Win32.Win32PlatformManager" assembly="Axiom.Platforms.Win32.dll"/>
	<startup>
	</startup>
	<appSettings>
		<add key="editorPluginsFile" value="EditorPlugins.xml"/>
		<add key="editorSettingsFile" value="EditorSettings.xml"/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1B03E6ACF1164F73" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-0.84.0.0" newVersion="0.84.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualBasic" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
