// Axiom debug overlay scripts
Core/DebugOverlay
{
    zorder 500
/*
*/
    // Logo panel
    container Panel(Core/LogoPanel)
    {
        metrics_mode pixels
        horz_align right
        vert_align bottom
        top -75
        left -210
        width 200
        height 80
        material Core/AxiomLogo
    }
}