<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SandcastleBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SandcastleBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SandcastleBuilder.Properties.Settings>
            <setting name="AuthorEMailAddress" serializeAs="String">
                <value>Eric@EWoodruff.us</value>
            </setting>
            <setting name="EWoodruffURL" serializeAs="String">
                <value>http://www.EWoodruff.us</value>
            </setting>
            <setting name="ProjectURL" serializeAs="String">
                <value>http://www.codeplex.com/SHFB</value>
            </setting>
        </SandcastleBuilder.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SandcastleBuilder.Properties.Settings>
            <setting name="SettingsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VerboseLogging" serializeAs="String">
                <value>True</value>
            </setting>
        </SandcastleBuilder.Properties.Settings>
    </userSettings>
</configuration>