#include <overlay_templates.inc>

///////////////
// Core/Game //
///////////////

Core/Game
{
	zorder 100
	container BorderPanel(Core/GamePanel)
	{		
		top 0.1
		vert_align top		
		element TextArea(Core/GameMessage)
		{
			top 0.0			
			caption Check!
			horz_align center
			font_name BerlinSans32	
			char_height 0.04167
			colour_top 1.0 1.0 1.0
			colour_bottom 0.8 0.8 0.8
		}				
	}
}


////////////////
// Core/Debug //
////////////////

Core/Debug
{
	zorder 100

	container BorderPanel(Core/DebugPanel)
	{		
		top -0.1
		vert_align bottom					
		
		element TextArea(Core/CurrentFPS)
		{
			top 0.0
			caption Current FPS:
			horz_align center
			font_name BerlinSans32	
			char_height 0.04167
			colour_top 1.0 1.0 1.0
			colour_bottom 0.8 0.8 0.8
		}
		
		element TextArea(Core/Triangles)
		{
			top 0.04
			caption Triangles:
			horz_align center
			font_name BerlinSans32	
			char_height 0.04167
			colour_top 1.0 1.0 1.0
			colour_bottom 0.8 0.8 0.8
		}
	}
}