<configuration>
    <dllmap dll="opengl32.dll">
    	<dllentry dll="libGL.so.1" />
    	<dllentry os="osx" dll="/System/Library/Frameworks/OpenGL.framework/OpenGL" />
    </dllmap>
    <dllmap dll="glu32.dll">
    	<dllentry dll="libGLU.so.1" />
    	<dllentry os="osx" dll="/System/Library/Frameworks/OpenGL.framework/Libraries/libGLU.dylib" />
    </dllmap>
</configuration>
