<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Axiom" type="Axiom.Configuration.AxiomSectionGroup, Axiom,Version=0.7.0.0,Culture=neutral,PublicKeyToken=null">
      <section name="Engine" type="Axiom.Configuration.EngineSettings, Axiom,Version=0.7.0.0,Culture=neutral,PublicKeyToken=null" />
      <section name="Logging" type="Axiom.Configuration.LogSettings, Axiom,Version=0.7.0.0,Culture=neutral,PublicKeyToken=null" />
    </sectionGroup>
  </configSections>
  <Axiom>
    <Engine configFile="C:\engine.config">

		<FileSystem>
			<Mount type="" physicalPath="" virtualRoot ="" />
		</FileSystem>
		
		<Plugins>
			<Plugin type="" assembly="" />
		</Plugins>
		
    </Engine>
    
    <Logging logFile="Axiom.log" />
    
  </Axiom>
</configuration>